/* 设计版心模型 */
.wrapper {
  margin: 0 auto;
  width: 1200px;
}
body {
  background-color: #f3f5f7;
}

.header {
  background-color: #ffffff;
  height: 100px;
  padding-top: 29px;
  box-sizing: border-box;
}
.header .wrapper {
  display: flex;
}
.header .logo a {
  width: 195px;
  height: 41px;
  background-image: url(../images/logo.png);
  font-size: 0;
  /* a标签默认行内元素 加宽高不生效  当文字消失后背景图也不会显示 */
  display: block;
  margin-right: 102px;
}

.header .nav {
  display: flex;
  width: 244px;
  height: 35px;
  justify-content: space-between;
  margin-top: 6px;
  margin-right: 96px;
}
.header .nav a {
  display: block;
  /* width: 54px; */
  height: 100%;
  padding: 0px 8px 6px;
  font-size: 19px;
  line-height: 27px;
  box-sizing: border-box;
}
.nav div a.active,
.nav div a:hover {
  border-bottom: 2px solid #00a4ff;
}
/* input一个占完了  */
/* .header .wrapper .search input {
  width: 412px;
  height: 40px;
  background-color: #f3f5f7;
  border-radius: 20px;
  padding: 10px 19px;
  font-size: 14px;
  line-height: 20px;
} */
/* .header .wrapper .search input::placeholder {
  color: #999999;
} */
/* .header .wrapper .search {
  display: flex;
} */
/* .header .wrapper .search div {
  width: 16px;
  height: 16px;
  display: block;
  margin: 12px;
} */

.header .wrapper .search {
  display: flex;

  width: 412px;
  height: 40px;
  background-color: #f3f5f7;
  border-radius: 20px;
  padding: 0px 0px 0px 19px;
  font-size: 14px;
  line-height: 20px;
  margin-right: 32px;
}
.search input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
}
.search a {
  width: 16px;
  height: 16px;
  display: block;
  margin: 12px;
  background-image: url(../images/search.png);
  font-size: 0;
}
.user {
  display: flex;
  width: 116px;
  height: 30px;
  /* background-color: pink; */
  margin: 4px 0px 6px 0px;
}
/* 另外也可以直接img作为行内块  然后垂直居中 */
.user div {
  width: 30px;
  height: 30px;
  /* background-color: orange; */
  font-size: 0px;
  background-image: url(../uploads/user.png);
  margin-right: 6px;
}
/* 这里的昵称过长怎么办  扩展？ */
.user span {
  margin: 4px 0px;
  width: 80px;
  height: 23px;
  font-size: 16px;
  line-height: 23px;
  color: #666;
}

/* banner */
.banner {
  /* 自动适应屏幕大小 */
  width: 100%;
  /* 自动匹配到居中 */
  margin: 0 auto;
  /* 再次防止在大屏幕上超出1920px 对其他排版产生影响 */
  max-width: 1920px;
  height: 420px;
  background-color: #0092cb;
  /* padding: 0px 360px; */
}
.banner .wrapper {
  display: flex;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-image: url(../uploads/banner.png);
  justify-content: space-between;
  align-items: center;
}
.banner .wrapper ul {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 191px;
  background-color: #005576;
}
.banner .wrapper ul li {
  display: flex;
  flex: 1;
  /* min-hight立大功 */
  min-height: 0;
  padding: 13px 20px;
  justify-content: space-between;
}
.banner .wrapper ul li span {
  display: block;
  width: 64px;
  height: 23px;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
}
.banner .wrapper ul li img {
  width: 10px;
  height: 10px;
  margin: 7px 0px;
}
.banner .wrapper ul li:hover span,
.banner .wrapper ul .active {
  color: #00a4ff;
}
li:hover img {
  content: url(../images/right-hover.png);
}
.banner .wrapper .class-sheet {
  width: 218px;
  height: 305px;
  background-color: #209dd5;
  border-radius: 10px;
}
.banner .wrapper .class-sheet h1 {
  margin-top: 18px;
  margin-left: 14px;
  margin-bottom: 9px;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}
.banner .wrapper .class-sheet .content {
  height: 257px;
  background-color: #fff;
  border-radius: 10px;
  padding: 14px;
}
.banner .wrapper .class-sheet .content dl {
  border-bottom: 1px solid #e0e0e0;
}
.banner .content dt {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 700;
}
.banner .content dd {
  height: 17px;
  font-size: 12px;
  margin-bottom: 9px;
}
.banner .content dd span {
  color: #00a4ff;
}
.banner .content dd strong {
  color: #7d7d7d;
  font-weight: 400;
}
.banner .content a {
  display: block;
  height: 32px;
  margin-top: 14px;
  background-color: #00a4ff;
  border-radius: 15px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  padding: 6px 0px;
}
/* 推荐课程区域 */
.recommend {
  display: flex;
  width: 1200px;
  height: 60px;
  background-color: #ffffff;
  margin: 11px auto;
  padding: 18px 20px;
}
.recommend ul {
  display: flex;
  margin-right: 93px;
}
.recommend span {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: #00a4ff;
  margin-right: 20px;
}
.recommend ul li {
  width: 75px;
  font-size: 18px;
  line-height: 25px;
  border-right: 1px solid #e0e0e0;
  margin-right: 24px;
}
.recommend ul li:last-child {
  border: none;
  margin-right: 0px;
}
.recommend .click:hover {
  cursor: pointer;
}
.recommend-class {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* 从此开始的所有items都因为类选择器过于具体而导致下面无法复用 */
.recommend-class .items {
  display: flex;
  margin-top: 15px;
  /* background-color: pink; */
  width: 100%;
  height: 556px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.recommend-class .items li {
  width: 228px;
  height: 271px;
  /* border: 1px solid black; */
  background-color: #fff;
}
.recommend-class .items li:hover {
  background-color: #f3f5f7;
  transition: background-color 0.3s;
}
.recommend-class .items li a {
  display: block;
  width: 100%;
  height: 156px;
  background-image: url(../uploads/course01.png);
  font-size: 0;
}
.recommend-class .items li .class-content {
  margin: 20px 20px 22px 20px;
}
.recommend-class .items li .class-content p {
  width: 100%;
  height: 37px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}
.recommend-class .items li .class-content div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}
.recommend-class .items li .class-content div strong {
  color: #fa6400;
  /* font-weight: 600; */
}
.recommend-class .items li .class-content div span {
  color: #999999;
}
.fronter {
  width: 1200px;
  height: 431px;
  margin: 32px auto 0px;
  /* border: 1px solid black; */
}
.fronter-up {
  display: flex;
  /* justify-content: space-between; */
}
.fronter-up ul {
  display: flex;
  margin-top: 4px;
  width: 308px;
  height: 23px;
  font-size: 16px;
  line-height: 23px;
  justify-content: space-between;
}
.fronter-up span {
  display: block;
  width: 147px;
  height: 30px;
  font-size: 21px;
  line-height: 32px;
  margin-right: 299px;
}
.fronter-up ul .active {
  color: #00a4ff;
}
.fronter-up ul li:hover {
  color: #00a4ff;
  cursor: pointer;
}
.fronter-up a {
  margin: 4px 0px 3px 370px;
}
.fronter-down {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  height: 386px;
}

.fronter-down ul {
  display: flex;
}
.fronter-down .top {
  height: 100px;
}
.fronter-down .items {
  display: flex;
  margin-top: 15px;
  /* background-color: pink; */
  width: 100%;
  /* height: 556px; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.fronter-down .items li {
  width: 228px;
  height: 271px;
  /* border: 1px solid black; */
  background-color: #fff;
}
.fronter-down .items li:hover {
  background-color: #f3f5f7;
  transition: background-color 0.3s;
}
.fronter-down .items li a {
  display: block;
  width: 100%;
  height: 156px;
  background-image: url(../uploads/course01.png);
  font-size: 0;
}
.fronter-down .items li .class-content {
  margin: 20px 20px 22px 20px;
}
.fronter-down .items li .class-content p {
  width: 100%;
  height: 37px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}
.fronter-down .items li .class-content div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}
.fronter-down .items li .class-content div strong {
  color: #fa6400;
  /* font-weight: 600; */
}
.fronter-down .items li .class-content div span {
  color: #999999;
}
.version-right {
  width: 100%;
  height: 273px;
  background-color: #fff;
}
.version-right .wrapper {
  display: flex;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 60px;
}
.version-right .wrapper .left {
  width: 432px;
  height: 148px;
  margin-right: 252px;
}
.version-right .wrapper .right {
  display: flex;
  width: 516px;
  height: 151px;
  justify-content: space-between;
}
.version-right .wrapper .left p {
  margin-top: 24px;
  width: 100%;
  height: 33px;
  font-size: 12px;
  line-height: 17px;
  color: #666;
}
.version-right .load {
  width: 120px;
  height: 36px;
  margin-top: 14px;
  border: solid 1px #00a4ff;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  color: #00a4ff;
}
.version-right .load:hover {
  background-color: #00a4ff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.version-right .right dt {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 12px;
}
.version-right .right dd {
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
